%section#content.container.clearfix
  %h2.page-description.align-center
    Course Registration

  - unless errors.blank?
    %p.error= errors

  %hr

  :markdown
    **Please Note:** Tai Chi Chuan course attendees who don't already know the respective sets should learn them from the video links as best they can before the Festival. Sifu Wong will review and correct the sets during the courses, but this will only be a portion of each course, as there are other important aspects of each set/style that he will also teach.

  %hr

  %form{ action: "/register", method: "post" }

    .one-half
      %h3 <strong>Generating Energy Flow*</strong>

      .course-offering
        %img{ src: "/site_img/group_lifting_the_sky.jpeg", alt: "A group of students performing the Chi Kung exercise 'Lifting the Sky'" }
        .details
          %ul.none
            %li
              %h4.accented <strong>Friday, November 2nd, 2012</strong>
            %li
              %h4.accented 9am to 12pm
            %li
              %p
                %input{ type: "checkbox", name: "courses[]", id: "generating_energy_flow", value: "Generating Energy Flow" }
                %label{ for: "generating_energy_flow" } <strong>$300.00</strong> <em>Click here to register</em>
        .description
          :markdown
            __*Prerequisite for all other Chi Kung courses (for non-Shaolin Wahnam members).__

            _Generating Energy Flow is highly recommended (but not required) for non-Shaolin Wahnam members who are only interested in Tai Chi Chuan courses._

            This is both the most basic and most valuable course Sifu Wong teaches. Not only will you learn what chi flow is, you'll directly experience it in the first five minutes! Beginners will learn everything they need to have a wildly successful Chi Kung practice, while experienced students will deepen the most important Chi Kung skills.

            Generating Energy Flow showcases three of the best exercises in all of Chi Kung: Lifting the Sky, Pushing Mountains, and Carrying the Moon. These exercises are legendary for restoring health, vitality, mental clarity, and longevity. You will be surprised at how powerful the benefits are, but then again, a living Grandmaster will be transmitting the skills directly to you!

    .one-half.last
      %h3 <strong>Fundamentals of Tai Chi Chuan*</strong>

      .course-offering
        %img{ src: "/site_img/kick_defense.jpeg", alt: "Sifu Wong uses the Tai Chi Chuan pattern 'White Crane Spreads Wings' to defend a kick" }
        .details
          %ul.none
            %li
              %h4.accented <strong>Friday, November 2nd, 2012</strong>
              %li
              %h4.accented 2pm to 7pm
            %li
              %p
                %input{ type: "checkbox", name: "courses[]", id: "all_tcc", value: "The Essence of All Tai Chi Chuan" }
                %label{ for: "all_tcc" } <strong>$500.00</strong> <em>Click here to register</em>

        .description
          :markdown
            __*Prerequisite for all other Tai Chi Chuan courses (for anyone who has never learned Shaolin Kung Fu or Tai Chi Chuan from Sifu Wong or another Shaolin Wahnam Instructor)__

            Don't let the name fool you -this is the most important Tai Chi Chuan course being offered, regardless of whether you are a beginner or 30 year veteran.

            Learn and directly experience profound skills often described in Tai Chi Chuan classics, but rarely taught this clearly, systematically, and deeply. These skills are the core of whatever style of Tai Chi Chuan you practice (or wish to learn) and will be assumed and built upon in the other Tai Chi Chuan courses. After taking this course, you will know how to build tremendous internal force through your Tai Chi Chuan practice, as well as how to flow through patterns to maximize the incredible health and vitality benefits Tai Chi Chuan brings, all while avoiding common mistakes that lead to injuries like "Tai Chi Knee".

            To better focus on learning and deepening the core Tai Chi Chuan skills, this course will focus on the 24-Pattern Simplified Set. [Click here](http://shaolin.org/general-2/kungfu-sets/24-pattern.html) to read about the 24-Pattern Simplified Set and watch videos of the set performed by members of Shaolin Wahnam.

    %hr

    .one-half
      %h3 <strong>Cosmic Shower</strong>
      .course-offering
        %img{ src: "/site_img/cosmic_shower.jpeg", alt: "Sifu Wong enjoying a cosmic shower" }
        .details
          %ul.none
            %li
              %h4.accented <strong>Saturday, November 3rd, 2012</strong>
            %li
              %h4.accented 9am to 12pm
            %li
              %p
                %input{ type: "checkbox", name: "courses[]", id: "cosmic_shower", value: "Cosmic Shower" }
                %label{ for: "cosmic_shower" } <strong>$300.00</strong> <em>Click here to register</em>
        .description
          %p Learn to utilize your Chi Kung Exercises to generate a Cosmic Shower of cleansing energy to purify your mind, body and spirit.  Sifu Wong will directly transmit this precious and powerful skill during this course so you walk away with this incredible skill at your disposal.

          %p Cultivating the spirit, which is non-religious, is an important aspect of Wahnam training and involves emotional, mental as well as spiritual purification.  At the lowest level, spiritual cultivation enables us to be happy, peaceful and free of stress, while at the highest level it enables us to return to God, or by whatever name we call the Supreme Reality.

          %p <a href="http://www.shaolin.org/general/videos-chi-kung.html">Click here</a> to visit the Shaolin Wahnam Chi Kung Video clips page and read more about cosmic shower as well as see vidoes of a Cosmic Shower course with Sifu Wong Kiew Kit!!

    .one-half.last
      %h3 <strong>108-Pattern Yang style Tai Chi Chuan</strong>
      .course-offering
        %img{ src: "/site_img/single_whip.jpeg", alt: "Sifu Wong demonstrates the Tai Chi Chuan pattern 'Single Whip Saves Emperor'" }
        .details
          %ul.none
            %li
              %h4.accented <strong>Saturday, November 3rd, 2012</strong>
            %li
              %h4.accented 2pm to 7pm
            %li
              %p
                %input{ type: "checkbox", name: "courses[]", id: "yang", value: "The Essence of Yang-style Tai Chi Chuan" }
                %label{ for: "yang" } <strong>$500.00</strong> <em>Click here to register</em>
        .description
          %p Yang Style Tai Chi Chuan is the most popular style of Tai Chi Chuan practiced today. Indeed, it is so popular that to many people, Tai Chi Chuan means Yang Style Tai Chi Chuan, though Chen Style Tai Chi Chuan is also becoming popular today.

          %p Practitioners in China and other parts of the world often practice this set as a graceful exercise without internal force, and in solo without its combat application. But in our school, internal force training and combat application are essential aspects of this set and are taught at the courses.

          %p <a href="http://shaolin.org/video-clips-8/taijiquan/108-pattern.html">Click here</a> to visit Sifu Wong's page on the 108-Pattern Yang style set and watch video clips to learn this set.  Then come to our course and experience Sifu Wong's direct transmission of the skills which make this set truly come alive!

    %hr

    .one-half
      %h3 <strong>Abdominal Breathing</strong>
      .course-offering
        %img{ src: "/site_img/cosmos_stance.jpeg", alt: "Sifu Wong builds tremendous internal force in the cosmos stance" }
        .details
          %ul.none
            %li
              %h4.accented <strong>Sunday, November 4th, 2012</strong>
            %li
              %h4.accented 9am to 12pm
            %li
              %p
                %input{ type: "checkbox", name: "courses[]", id: "abdominal", value: "Abdominal Breathing" }
                %label{ for: "abdominal" } <strong>$300.00</strong> <em>Click here to register</em>
        .description
          %p In Abdominal Breathing, energy (not air) flows in from the Cosmos down from the nose to the abdominal energy field along the Ren or Conceptual Meridian, and up from the abdominal energy field along the Ren Meridian out of the mouth back to the Cosmos.

          %p This technique is used to generate tremendous breath control and a deep zen state of mind to help the practitioner reach a powerful meditative state where she can reach satori and experience the beauty of the cosmos.

    .one-half.last
      %h3 <strong>Flowing Water, Flowing Clouds<br />(Chen style Tai Chi Chuan)</strong>
      .course-offering
        %img{ src: "/site_img/low_single_whip.jpeg", alt: "A Tai Chi Chuan practitioner defends a kick with the pattern 'Low Single Whip'" }
        .details
          %ul.none
            %li
              %h4.accented <strong>Sunday, November 4th, 2012</strong>
            %li
              %h4.accented 2pm to 7pm
            %li
              %p
                %input{ type: "checkbox", name: "courses[]", id: "chen", value: "The Essence of Chen-style Tai Chi Chuan" }
                %label{ for: "chen" } <strong>$500.00</strong> <em>Click here to register</em>
        .description
          %p This set, which is probably closer in spirit and form to the original Taijiquan practiced by past masters like Zhang San Feng and Chen Wang Ting than many Taijiquan sets practiced today, enables us to attain good health, combat efficiency and spiritual fulfillment.
          %p Chen style Tai Chi Chuan is often seen as the faster type of Tai Chi Chuan as a swifter flow of qi is emphasized.  Sifu Wong hopes practitioners of all styles will come and enjoy this variation of applying the skills he will be teaching throughout the courses to a beautiful set created by the Grandmaster himself.
          %p <a href="http://www.shaolin.org/taijiquan/flowing-water/flowing-water04.html">Click here</a> to see Sifu Wong performing this set.

    %hr

    .one-half
      %h3 <strong>Merging with the Cosmos</strong>
      .course-offering
        %img{ src: "/site_img/sinew_metamorphosis.jpeg", alt: "A group of students performing a Chi Kung exercise from Sinew Metamorphosis" }
        .details
          %ul.none
            %li
              %h4.accented <strong>Monday, November 5th, 2012</strong>
            %li
              %h4.accented 9am to 12pm
            %li
              %p
                %input{ type: "checkbox", name: "courses[]", id: "merging", value: "Merging with the Cosmos" }
                %label{ for: "merging" } <strong>$300.00</strong> <em>Click here to register</em>
        .description
          %p Sinew Metamorphosis is such a powerful exercise in our school that it is understandable that many people think we are exagerrating when we say by just flicking the fingers three times we can generate tremendous internal force or expand our spirit to merge with the cosmos!
          %p While these exercises are deceptively simple to perform the skill of megring with the cosmos that is transmitted by Sifu Wong during these exercises is of the highest level.
          %p This course will leave you completely amazed at the depth and power of the highest level Chi Kung skills.

    .one-half.last
      %h3 <strong>Wudang Tai Chi Chuan</strong>
      .course-offering
        %img{ src: "/site_img/golden_eagle_spreads_wings.jpeg", alt: "Sifu Wong demonstrates the Wudang Tai Chi Chuan pattern 'Golden Eagle Spreads Wings'" }
        .details
          %ul.none
            %li
              %h4.accented <strong>Monday, November 5th, 2012</strong>
            %li
              %h4.accented 2pm to 7pm
            %li
              %p
                %input{ type: "checkbox", name: "courses[]", id: "wudang", value: "The Essence of Wudang Tai Chi Chuan" }
                %label{ for: "wudang" } <strong>$500.00</strong> <em>Click here to register</em>
        .description
          %p In response to numerous requests, Grandmaster Wong has re-constructed from classical sources this set of Wudang Taijiquan, the original style of Tai Chi Chuan as taught by the patriarch of Tai Chi Chuan Zhang San Feng.
          %p <a href="http://www.shaolin.org/general-2/kungfu-sets/wudang-taijiquan.html">Click here</a> to read about some of the history and philosophy of the Wudang style.
          %p <a href="http://www.shaolin.org/video-clips-7/wudang-taijiquan/treatise/treatise01.html">Click here</a> to view the TAIJIQUAN TREATISE OF ZHANG SAN FENG!
          %p <a href="http://www.shaolin.org/video-clips-7/wudang-taijiquan/set-videos.html">Click Here</a> to view the picture and video series of Sifu Wong's tremendous Wudang Taichichuan set.  The set is performed slowly here to enable students to learn it more easily. Do not worry about force while learning the set. Just get the routine correct. At the course the Form-Flow-Force method will be taught to perform the set with flowing chi and internal force.
          %p The Wudang Taijiquan we practice in our school contains all the important features for which Taijiquan is famous, like graceful, flowing movements, use of mind and internal force instead of physical strength, attaining good health, vitality and longevity, combat efficiency irrespective of size, age and gender, and spiritual cultivation irrespective of religion.

    %hr

    %h2.align-center <a name="pricing"></a>Pricing

    %table.pricing
      %tbody
        %tr
          %td One Chi Kung Course
          %td $300
        %tr
          %td One Tai Chi Chuan Course
          %td $500
        %tr
          %td One Chi Kung Course + One Tai Chi Chuan Course
          %td <del>$800</del>&nbsp;<span class="accented">$700</span>
        %tr
          %td All Four Chi Kung Courses
          %td <del>$1200</del>&nbsp;<span class="accented">$1000</span>
        %tr
          %td All Four Tai Chi Chuan Courses
          %td <del>$2000</del>&nbsp;<span class="accented">$1300</span>
        %tr
          %td
            %strong ALL EIGHT COURSES
          %td
            %strong <del>$3200</del>&nbsp;<span class="accented">$1800!</span>

    %p.align-center
      %strong Anyone not satisfied with a course will have a full refund without question if he or she informs the organizer about his or her dissatisfaction during or immediately after the course completes.

    %p Please note that because of the way these incredible discounts are structured, there are cases where it is actually cheaper to take more courses than you initially register for. For instance, it is the same price to sign up for three Tai Chi Chuan as it is to sign up for four! We're doing this because each of these courses is a treasure, and this is probably the only time Grandmaster Wong will ever teach these Tai Chi Chuan courses in the United States!
    %p Regardless of whether you take advantage of it, rest assured that this registration system is set up to always give you the best discount based on the courses you select. However, it will faithfully only register you for the courses you choose!

    %p.align-center
      %input{ type: "submit", value: "Register" }
    %p.align-center
      (You will still be able to review and change your selections)