%section#content.container.clearfix
  %h2.page-description.align-center
    Course Registration

  - unless errors.blank?
    %p.error= errors

  %hr

  :markdown
    **Please Note:** Tai Chi Chuan course attendees who don't already know the respective sets should learn them from the video links as best they can before the Festival. Sifu Wong will review and correct the sets during the courses, but this will only be a portion of each course, as there are other important aspects of each set/style that he will also teach.

  %hr

  %form{ action: "/register", method: "post" }

    .one-half
      %h3 <strong>Generating Energy Flow*</strong>

      .course-offering
        %img{ src: "/site_img/group_lifting_the_sky.jpeg", alt: "A group of students performing the Chi Kung exercise 'Lifting the Sky'" }
        .details
          %ul.none
            %li
              %h4.accented <strong>Friday, November 2nd, 2012</strong>
            %li
              %h4.accented 9am to 12pm
            %li
              %p
                %input{ type: "checkbox", name: "courses[]", id: "generating_energy_flow", value: "Generating Energy Flow", checked: checked?("Generating Energy Flow") }
                %label{ for: "generating_energy_flow" } Register for this course (<a href="#pricing"><em>Pricing below</em></a>)

    .one-half.last
      %h3 <strong>Fundamentals of Tai Chi Chuan*</strong>

      .course-offering
        %img{ src: "/site_img/kick_defense.jpeg", alt: "Sifu Wong uses the Tai Chi Chuan pattern 'White Crane Spreads Wings' to defend a kick" }
        .details
          %ul.none
            %li
              %h4.accented <strong>Friday, November 2nd, 2012</strong>
              %li
              %h4.accented 2pm to 7pm
            %li
              %p
                %input{ type: "checkbox", name: "courses[]", id: "all_tcc", value: "Fundamentals of Tai Chi Chuan", checked: checked?("Fundamentals of Tai Chi Chuan") }
                %label{ for: "all_tcc" } Register for this course (<a href="#pricing"><em>Pricing below</em></a>)

    %hr

    .one-half
      %h3 <strong>Cosmic Shower</strong>
      .course-offering
        %img{ src: "/site_img/cosmic_shower.jpeg", alt: "Sifu Wong enjoying a cosmic shower" }
        .details
          %ul.none
            %li
              %h4.accented <strong>Saturday, November 3rd, 2012</strong>
            %li
              %h4.accented 9am to 12pm
            %li
              %p
                %input{ type: "checkbox", name: "courses[]", id: "cosmic_shower", value: "Cosmic Shower", checked: checked?("Cosmic Shower") }
                %label{ for: "cosmic_shower" } Register for this course (<a href="#pricing"><em>Pricing below</em></a>)

    .one-half.last
      %h3 <strong>108-Pattern Yang style Tai Chi Chuan</strong>
      .course-offering
        %img{ src: "/site_img/single_whip.jpeg", alt: "Sifu Wong demonstrates the Tai Chi Chuan pattern 'Single Whip Saves Emperor'" }
        .details
          %ul.none
            %li
              %h4.accented <strong>Saturday, November 3rd, 2012</strong>
            %li
              %h4.accented 2pm to 7pm
            %li
              %p
                %input{ type: "checkbox", name: "courses[]", id: "yang", value: "108-Pattern Yang style Tai Chi Chuan", checked: checked?("108-Pattern Yang style Tai Chi Chuan") }
                %label{ for: "yang" } Register for this course (<a href="#pricing"><em>Pricing below</em></a>)

    %hr

    .one-half
      %h3 <strong>Abdominal Breathing</strong>
      .course-offering
        %img{ src: "/site_img/cosmos_stance.jpeg", alt: "Sifu Wong builds tremendous internal force in the cosmos stance" }
        .details
          %ul.none
            %li
              %h4.accented <strong>Sunday, November 4th, 2012</strong>
            %li
              %h4.accented 9am to 12pm
            %li
              %p
                %input{ type: "checkbox", name: "courses[]", id: "abdominal", value: "Abdominal Breathing", checked: checked?("Abdominal Breathing") }
                %label{ for: "abdominal" } Register for this course (<a href="#pricing"><em>Pricing below</em></a>)

    .one-half.last
      %h3 <strong>Flowing Water, Flowing Clouds<br />(Chen style Tai Chi Chuan)</strong>
      .course-offering
        %img{ src: "/site_img/low_single_whip.jpeg", alt: "A Tai Chi Chuan practitioner defends a kick with the pattern 'Low Single Whip'" }
        .details
          %ul.none
            %li
              %h4.accented <strong>Sunday, November 4th, 2012</strong>
            %li
              %h4.accented 2pm to 7pm
            %li
              %p
                %input{ type: "checkbox", name: "courses[]", id: "chen", value: "Flowing Water Floating Clouds", checked: checked?("Flowing Water Floating Clouds") }
                %label{ for: "chen" } Register for this course (<a href="#pricing"><em>Pricing below</em></a>)

    %hr

    .one-half
      %h3 <strong>Merging with the Cosmos</strong>
      .course-offering
        %img{ src: "/site_img/sinew_metamorphosis.jpeg", alt: "A group of students performing a Chi Kung exercise from Sinew Metamorphosis" }
        .details
          %ul.none
            %li
              %h4.accented <strong>Monday, November 5th, 2012</strong>
            %li
              %h4.accented 9am to 12pm
            %li
              %p
                %input{ type: "checkbox", name: "courses[]", id: "merging", value: "Merging with the Cosmos", checked: checked?("Merging with the Cosmos") }
                %label{ for: "merging" } Register for this course (<a href="#pricing"><em>Pricing below</em></a>)

    .one-half.last
      %h3 <strong>Wudang Tai Chi Chuan: The Essence of Tai Chi Chuan</strong>
      .course-offering
        %img{ src: "/site_img/golden_eagle_spreads_wings.jpeg", alt: "Sifu Wong demonstrates the Wudang Tai Chi Chuan pattern 'Golden Eagle Spreads Wings'" }
        .details
          %ul.none
            %li
              %h4.accented <strong>Monday, November 5th, 2012</strong>
            %li
              %h4.accented 2pm to 7pm
            %li
              %p
                %input{ type: "checkbox", name: "courses[]", id: "wudang", value: "Wudang Tai Chi Chuan", checked: checked?("Wudang Tai Chi Chuan") }
                %label{ for: "wudang" } Register for this course (<a href="#pricing"><em>Pricing below</em></a>)

    %hr

    %h2.align-center <a name="pricing"></a>Pricing

    %p.align-center.accented
      %strong Discounted prices (in red) expire on Oct. 15!
    %p.align-center
      %strong Are you an Instructor? <a href="http://shaolinstpete.com/festival/brochure.pdf">See the brochure</a> for a limited time, special offer

    %table.pricing
      %thead
        %tr
          %td &nbsp;
          %td Wahnam Members
          %td Non-Members
      %tbody
        %tr
          %td One Chi Kung Course
          %td $300
          %td $300
        %tr
          %td One Tai Chi Chuan Course
          %td $500
          %td $1000
        %tr
          %td One Chi Kung Course + One Tai Chi Chuan Course
          %td <del>$800</del><br /><span class="accented">$700</span>
          %td <del>$1300</del><br /><span class="accented">$1200</span>
        %tr
          %td All Four Chi Kung Courses
          %td <del>$1200</del><br /><span class="accented">$1000</span>
          %td <del>$1200</del><br /><span class="accented">$1000</span>
        %tr
          %td All Four Tai Chi Chuan Courses
          %td <del>$2000</del><br /><span class="accented">$1300</span>
          %td <del>$4000</del><br /><span class="accented">$2600</span>
        %tr
          %td
            %strong ALL EIGHT COURSES
          %td
            %strong <del>$3200</del><br /><span class="accented">$1800!</span>
          %td
            %strong <del>$5200</del><br /><span class="accented">$3000!</span>

    %p.align-center
      %strong Anyone not satisfied with a course will have a full refund without question if he or she informs the organizer about his or her dissatisfaction at least one hour before the course completes.

    %p Please note that because of the way these incredible discounts are structured, there are cases where it is actually cheaper to take more courses than you initially register for. For instance, it is the same price to sign up for three Tai Chi Chuan courses as it is to sign up for four! We're doing this because each of these courses is a treasure, and this is probably the only time Grandmaster Wong will ever teach these Tai Chi Chuan courses in the United States!
    %p This registration system will always give you the best discount based on the courses you select. However, it will faithfully only register you for the courses you choose!

    %h3.align-center Member Codes
    %p We've sent each Shaolin Wahnam instructor a discount code so their students can register at the discounted Wahnam member prices. If you don't know your discount code, please email Sifu Chris Didyk at cdidyk@gmail.com to request it. <strong>Please include your name and the name of your Sifu or, if your Sifu is Grandmaster Wong, a course you took from him along with its approximate date and location.</strong>

    %p.align-center
      %label{ for: "member_code" } Member Code
      %input{ type: "text", name: "member_code", id: "member_code", value: params[:member_code] }
    %p.align-center
      %input{ type: "submit", value: "Register" }
    %p.align-center
      (You will still be able to review and change your selections)