%div
  %p Choose your courses below

  %form{ action: "/register", method: "post" }
    %p
      %input{ type: "checkbox", name: "courses[]", id: "generating_energy_flow", value: "Generating Energy Flow" }
      %label{ for: "generating_energy_flow" }
        %strong Generating Energy Flow*

    %p
      %input{ type: "checkbox", name: "courses[]", id: "all_tcc", value: "The Essence of All Tai Chi Chuan" }
      %label{ for: "all_tcc" }
        %strong The Essence of All Tai Chi Chuan*

    %p
      %input{ type: "checkbox", name: "courses[]", id: "cosmic_shower", value: "Cosmic Shower" }
      %label{ for: "cosmic_shower" }
        %strong Cosmic Shower

    %p
      %input{ type: "checkbox", name: "courses[]", id: "yang", value: "The Essence of Yang-style Tai Chi Chuan" }
      %label{ for: "yang" }
        %strong The Essence of Yang-style Tai Chi Chuan

    %p
      %input{ type: "checkbox", name: "courses[]", id: "abdominal", value: "Abdominal Breathing" }
      %label{ for: "abdominal" }
        %strong Abdominal Breathing

    %p
      %input{ type: "checkbox", name: "courses[]", id: "chen", value: "The Essence of Chen-style Tai Chi Chuan" }
      %label{ for: "chen" }
        %strong The Essence of Chen-style Tai Chi Chuan

    %p
      %input{ type: "checkbox", name: "courses[]", id: "merging", value: "Merging with the Cosmos" }
      %label{ for: "merging" }
        %strong Merging with the Cosmos

    %p
      %input{ type: "checkbox", name: "courses[]", id: "wudang", value: "The Essence of Wudang Tai Chi Chuan" }
      %label{ for: "wudang" }
        %strong The Essence of Wudang Tai Chi Chuan

    %p
      %input{ type: "submit", value: "Register" }