a, a > * {
    color: #b80508;
}

section a:hover, section a > *:hover {
    text-decoration: underline;
}

#header #logo h1 {
    display: block;
    background: #fff url(../site_img/shaolin_wahnam_logo_sm.jpg) no-repeat left center;
    line-height: 86px;
    padding-left: 100px;
    color: #b80508;
    font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-weight: 800;
}

body {
    color: #474747;
    font: 13px/1.5 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

section h1, section h2, section h3, section h4, section h5, section h6, .page-title {
    font-weight: 500;
    color: #909090;
}

.accented {
    color: #b80508;
}

.course-offering img {
    float: left;
    margin-right: 1em;
}

.course-offering .details {

}

.course-offering .description {
    clear: left;
}

.course-offering label {
    display: inline;
}

input[type="checkbox"] {
    display: inline;
}

hr {
    clear: both;
}

.pricing {
    width: 50%;
    margin: auto 25% 2em 25%;
    font-size: 120%;
}

.pricing tr {
    border-bottom: 1px solid;
}

.pricing td {
    text-align: left;
    padding-top: 0.5em;
}

ul.confirmation {
    list-style: none;
}

ul.confirmation li {
    margin-left: 0;
}

#token_error {
    display: none;
}

dl dt {
    font-weight: bold;
}

dl dd {
    padding: 0 20px 15px 25px;
}

.contact-info li {
    list-style: none;
    margin: 0 0 5px 24px;
    padding: 0 0 0 24px;
    text-align: left;
}

#footer .contact-info a {
    color: #b80508;
}

#footer .contact-info a:hover {
    text-decoration: underline;
}

.team-member {
    padding-top: 10px;
}